// Contextual backgrounds
@mixin bg-variant($parent, $color, $ignore-warning: true) {
    #{$parent} {
        background-color: $color !important;
    }
    a#{$parent},
    button#{$parent} {
        @include hover-focus {
            background-color: darken($color, 10%) !important;
        }
    }
}

@mixin bg-gradient-variant($parent, $color, $ignore-warning: true) {
    #{$parent} {
        //background: linear-gradient(87deg, $color 0, adjust-hue($color, 25%) 100%) !important;
        background: rgb(1, 72, 114);
        background: rgb(119, 238, 216);
        background: linear-gradient(90deg, rgba(119, 238, 216, 1) 7%, rgba(158, 171, 228, 1) 100%);
    }
}

@mixin bg-gradient-busra($parent, $color, $ignore-warning: true) {
    #{$parent} {
        //background: linear-gradient(87deg, $color 0, adjust-hue($color, 25%) 100%) !important;
        background: rgb(255, 255, 255);
        background: rgb(255, 255, 255);
        background: linear-gradient(90deg, rgb(255, 255, 255) 7%, rgb(255, 255, 255) 100%);
   
   
    }
}


@mixin bg-translucent-variant($parent, $color, $ignore-warning: true) {
    #{$parent} {
        background-color: darken(rgba($color, $translucent-color-opacity), 7%) !important;
    }
    a#{$parent},
    button#{$parent} {
        @include hover-focus {
            background-color: darken(rgba($color, $translucent-color-opacity), 12%) !important;
        }
    }
}